-# - if params[:tv_show].nil?

- if @seasons && !@episodes
  - @seasons.each do |season|
    %a{href: add_param(request.fullpath, "season", season)} #{season}
    %br
- if @episodes && !@word_array
  - @episodes.each do |name, href|
    %a{href: add_param(request.fullpath, "episode", name)} #{name}
    %br
:javascript
  $(function() {
    $("#wordcloud").jQCloud(#{raw @word_array.to_json});
  });


%div{id:"wordcloud", style: "width: 1080px; height: 800px;"}
